body {
  font-family: sans-serif;
  background-color: #ECC7AB;
  color: #FFF;
  font-size: 18px;
  line-height: 1.5;
  margin: auto;
  max-height: 100%;
}

/* Header Section */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 53px;
  margin-top: 10px;
}

header a {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  margin-right: 5px;
  position: relative;
  top: 30px;
  padding: 0;
}

header div img {
  display: none;
  font-size: 18px;
  line-height: 1.5;
  background-color: #000;
  color: #FFF;
}

/* Menu Section */
.menu {
  background-color: #FFD363;
  width: 820px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  display: none;
}

.menu a {
  display: block;
  flex-direction: column;
  justify-content: right;
  text-decoration: none;
  color: #FFF;
  text-align: right;
}

.pages {
  position: fixed;
  top: 100px;
  right: 50px;
  margin: 120px 0 0 100px;
}

.pages a {
  font-size: 120px;
  line-height: 1;
}

.social-media {
  position: fixed;
  top: 620px;
  right: 0;
  margin-top: 100px;
  margin-right: 50px;
  line-height: 1.15;
}

.social-media a {
  font-size: 30px;
}

/* Clothes Section */

.clothes {
  width: 890px;
  margin: 0 auto;
}

.clothes .wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}

.clothes img {
  width: 430px;
}

.clothes h1 {
  color: #FFF;
  font-size: 110px;
  font-weight: 500;
  width: 546px;
  text-align: left;
  margin-top: 130px;
  margin-left: -100px;
  line-height: 1;
}

.shape {
  position: absolute;
}

.circle {
  top: 60px;
  left: 0;
  transform: translateX(-50%);
  width: 144px;
  height: 144px;
  background-color: #D9A724;
  border-radius: 100px;
}

.square {
  bottom: 0;
  left: 430px;
  transform: translate(-250px, 50%);
  width: 150px;
  height: 150px;
  background-color: #738DA0;
}
